//Configs by jolson

@PART[ca_accelerometer]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_barometer]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_DUSTC]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_DUSTX]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_ELIX]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_gravioli]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_GRS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_KLIR]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_LUV]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_RPWS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_sciBoom]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_SWIS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_telescope_a]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_thermometer]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_magneto]:NEEDS[TweakScale] // Deprecated part
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_magneto2]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}



