//Configs by jolson, Akron

@PART[ca_accelerometer]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_barometer]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_DUSTC]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_DUSTX]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_ELIX]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_gravioli]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_GRS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_KLIR]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_LUV]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_RPWS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_sciBoom]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_SWIS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_telescope_a]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_thermometer]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_magneto]:NEEDS[TweakScale] // Deprecated part
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_magneto2]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_vor_sar]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_TRIXIE]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_HOLA]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_H2RS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_landv_soilScoop]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_landv_cam_s1]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_vor_camera]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[ca_vor_mag]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}